.part-team{
    display: table;
    clear: both;
    width: 100%;
    margin-top: 50px;
}
.tit-pos h3{
    padding: 15px 5px;
    margin: 0 0 30px  0;
    text-transform: uppercase;
    color: #fefefe;
    font-size: 23px;
    border-bottom: 3px solid #740101;
    border-top: 3px solid #740101;
    line-height: 1;
    background: #001a75;
    font-weight: bold;
    text-shadow: 0 1px 1px #000;
}
.h-player{
    width: 280px;
    margin-right: 35px;
    margin-bottom: 30px;
}
.h-player .fc-avatar{
    height: 300px;
    position: relative;
}

/*-----right content----*/
.nrl{
    padding: 10px 5px;
    margin-bottom: 10px;
    background: #ddd;
}
.tit-nrl h3{
    margin: 5px 0;
}
.tit-nrl h3 a{
    color: #001a75;
}
.tit-nrl h3 a:hover{
    color:  #740101;
}
.nrl a.more{
    color: #740101;
    font-weight: bold;
}
.nrl a.more:hover{
    color: #001a75;
}