.a-id{width: 5%;}
.a-user{width: 10%;}
.a-name{width: 45%;}
.a-date-pub{width: 15%;}
.a-status{width: 5%;}
.a-hand{width: 20%;}
.a-hand button{
	padding: 5px;
	margin-left: 2px;
	margin-right: 2px;
}

/*---ADMIN----*/
#_new_a_ad{

}
#_new_a_ad select{
	display: block;
	padding: 5px;
}
._expl{
	font-size: 0.9em;
    font-style: italic;
    color: #888;
    font-family: "Times New Roman", sans-serif;
}
#_new_a_ad .add-tag{
	padding: 2px;
    border: 1px solid #ddd;
    display: table;
    width: 100%;
}

#_new_a_ad .n-tg{
	padding: 5px;
    background: #ddd;
    margin: 2px;
    display: block;
    float: left;
    position: relative;
}
#_new_a_ad .add-tag input{
	border: 0;
    outline: none;
    float: left;
    margin: 2px;
    padding: 5px;
}
#_new_a_ad .n-tg ._t_close{
	padding: 2px;
    background: #A9A9A9;
    margin-left: 4px;
}
#_new_a_ad .n-tg ._t_close:hover{
	background: #9E3F3F;
	color: #ddd;
	cursor: pointer;
}
#_new_a_ad .form-group.allow-comment{
	margin-top: 50px;
    display: table;
    margin-bottom: 30px;
    width: 100%;
    padding-top: 27px;
    border-bottom: 1px solid #ddd;
}
#_new_a_ad .lock-cmt{float: left; padding-right: 5px;}
#_new_a_ad .lock-cmt .chk_off{
	position: relative;
	height: 15px;
	width: 15px;
	float: none;
	visibility: hidden;
	margin-top: 1px;
	vertical-align: top;
}
#_new_a_ad .lock-cmt .chk_off:after{
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 100%;
	border: 2px solid #8A8A8A;
	display: block;
	opacity: 1;
	visibility: visible;
	box-shadow: inset 0px 0 4px #888;
}
#_new_a_ad .lock-cmt .chk_off:checked:after{
	background: #545454;
	box-shadow: 2px 2px 2px #ddd;
}
#_new_a_ad .lock-cmt span{
	padding: 2px;
}